In [1]:
import pandas as pd
import numpy as np
from scipy import stats

# visualization
import matplotlib.pyplot as plt
import seaborn as sns

# import splitting and imputing functions
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

# confusion matrix for model evaluation
from sklearn.metrics import confusion_matrix

# **************************************

# import local files
import env
import acquire
import prepare

import os

# turn off pink boxes
import warnings
warnings.filterwarnings('ignore')

np.random.seed(123)

In [2]:
# acquiring titanic data

titanic_df = acquire.get_titanic_data()

In [3]:
# preparing titanic data
#     cleaning

titanic_df = prepare.clean_data(titanic_df)

In [4]:
# preparing titanic data
#     splitting

train, validate, test = prepare.split_data(titanic_df)

In [6]:
print(f'Train: {train.shape}')
print(f'Validate: {validate.shape}')
print(f'Test: {test.shape}')

Train: (498, 12)
Validate: (214, 12)
Test: (179, 12)

# 1. Baseline Prediction

In [11]:
# calculate baseline using .value_counts for target variable column

print(f'Baseline Prediction = 0')
print(f'Did not survive')
print()
print(train.survived.value_counts())

Baseline Prediction = 0
Did not survive

0    307
1    191
Name: survived, dtype: int64

In [14]:
# created baseline column

train['baseline'] = 0
train.head(2)

,passenger_id,survived,pclass,sex,sibsp,parch,fare,embark_town,alone,sex_male,embark_town_Queenstown,embark_town_Southampton,baseline
583,583,0,1,male,0,0,40.125,Cherbourg,1,1,0,0,0
165,165,1,3,male,0,2,20.525,Southampton,0,1,0,1,0

## 1a. Baseline Accuracy

In [18]:
baseline_accuracy = (train.survived == train.baseline).mean()

print(f'Baseline Accuracy: {baseline_accuracy}')

Baseline Accuracy: 0.6164658634538153