# classification_curriculum_notes

# Data Acquisition

#### Methods of Data Acquisition ---> DataFrame
- read_clipboard
- read_excel
- read_csv
- read_sql( sql_query, connection_url )

#### Source: shared Google Sheet

In [1]:
import pandas as pd

In [2]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1LAkq02vFy2ObYg93tiC48OxsDLMBzyb4OoedhmcUrZ8/edit#gid=1555489637'

In [3]:
csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

In [4]:
df_googlesheet = pd.read_csv(csv_export_url)

#### Source: SQL

In [5]:
import env

In [6]:
def get_connection(db, user = env.user, host = env.host, password = env.password):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

In [7]:
df = pd.read_sql('select * from passengers', get_connection('titanic_db'))

In [8]:
df.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,None,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,None,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,None,Southampton,1

In [9]:
def get_titanic_data():
    return pd.read_sql('select * from passengers', get_connection('titanic_db'))

#### Caching Your Data

In [10]:
df.to_csv('titanic_db')

In [11]:
# Caching function

import os

def get_titanic_data():
    filename = 'titanic.csv'
    
    if.os.path.isfile(filename):
        return pd.read_csv(filename)
    else:
        df = pd.read_sql('select * from passengers', get_connection('titanic_db'))
        
        df.t