# data_prep_exercises

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# import splitting and imputing functions
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

# turn off pink boxes for demo?
import warnings
warnings.filterwarnings('ignore')

# import my acquire and functions files
import acquire
import functions

### Iris Data

In [2]:
# 1. Use the function defined in acquire.py to load the iris data.

df_iris = acquire.new_iris_data()
df_iris.head(2)

,species_id,species_name,sepal_length,sepal_width,petal_length,petal_width
0,1,setosa,5.1,3.5,1.4,0.2
1,1,setosa,4.9,3.0,1.4,0.2

In [3]:
# # 2. Drop the species_id and measurement_id columns.

df_iris = df_iris.drop(columns=['species_id'])#, 'measurement_id'])
df_iris.head(2)

  species_name  sepal_length  sepal_width  petal_length  petal_width
0       setosa           5.1          3.5           1.4          0.2
1       setosa           4.9          3.0           1.4          0.2

In [4]:
# 3. Rename the species_name column to just species.

df_iris = df_iris.rename(columns = {'species_name': 'species'})
df_iris.head(2)

  species  sepal_length  sepal_width  petal_length  petal_width
0  setosa           5.1          3.5           1.4          0.2
1  setosa           4.9          3.0           1.4          0.2

In [5]:
# 4. Create dummy variables of the species name and concatenate onto the iris dataframe.

# to create the dummy column
dummy_df_iris = pd.get_dummies(df_iris[['species']], drop_first = True)

# concatenate original df with dummy df
df_iris = pd.concat([df_iris, dummy_df_iris], axis=1)
df_iris.head(-2)

,species,sepal_length,sepal_width,petal_length,petal_width,species_versicolor,species_virginica
0,setosa,5.1,3.5,1.4,0.2,0,0
1,setosa,4.9,3.0,1.4,0.2,0,0
2,setosa,4.7,3.2,1.3,0.2,0,0
3,setosa,4.6,3.1,1.5,0.2,0,0
4,setosa,5.0,3.6,1.4,0.2,0,0
...,...,...,...,...,...,...,...
143,virginica,6.8,3.2,5.9,2.3,0,1
144,virginica,6.7,3.3,5.7,2.5,0,1
145,virginica,6.7,3.0,5.2,2.3,0,1
146,virginica,6.3,2.5,5.0,1.9,0,1
147,virginica,6.5,3.0,5.2,2.0,0,1

In [6]:
# 5. Create a function named prep_iris that accepts the untransformed iris data, and returns the data with 
#     the transformations above applied.

def prep_iris(df):
    '''
    This function accepts the original iris data and returns the df:
        - drops the 'species_id' column
    '''